<div class='ui text container'>
  <h1 class='ui header'>
    <%= @book.title %>
    <div class='sub header'>
      <a href='<%= book_path(@book) %>'>返回</a>
    </div>
  </h1>

  <div class="ui icon message">
    <i class="alarm outline icon"></i>
    <div class="content">
      <div class="header">
        提示
      </div>
      <p>系统将会自动构建仓库最近一次接收到的内容并发布。</p>
    </div>
  </div>


  <div class="ui horizontal form divider">
    构建记录
  </div>

  <div class="ui large feed">
    <%- @builds.each do |build| %>
      <div class="event">
        <div class="label">
          <img src="<%= avatar(@book.author.user) %>">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              <%= @book.author.pen_name %>
            </a> 
            提交图书内容 

            <div class="date">
              <%= time_ago_in_words(build.at) %>
            </div>
          </div>

          <div class="extra text">
            <div class="ui label">
              <code><%= build.short_commit %></code>
            </div>
            <%= build.message %>
          </div>

          <div class='meta'>
            <%- if build.idle? %>
              <div class="ui label">
                <i class="wait icon"></i>
                <%= build.aasm.human_state %>
              </div>
            <% end %>

            <%- if build.warning? %>
              <div class="ui red label">
                <i class="warning sign icon"></i>
                <%= build.aasm.human_state %>
              </div>
            <% end %>

            <%- if build.building? %>
              <div class="ui blue label">
                <i class="settings icon"></i>
                <%= build.aasm.human_state %>
              </div>
            <% end %>

            <%- if build.complete? %>
              <a href="<%= build.read_url %>" class="ui green label">
                <i class="checkmark icon"></i>
                <%= build.aasm.human_state %>
              </a>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ui horizontal form divider">
    迁移说明
  </div>

  <p>
    更改远程仓库地址后，会提示要求身份认证，请在书籍首页查看认证信息。
  </p>
  <p>
    <code>cd $BOOKS_DIR/<%= @book.slug %></code><br />
    <code>git remote set_url origin <%= @book.git_origin %></code><br />
  </p>
</div>
