<% title @author.pen_name %>

<div class="ui primary inverted vertical segment">
  <div class='ui container'>
    <div class="ui inverted items">
      <div class="item">
        <img id='avatar' class="ui circular image" src="<%= avatar(@author.user) %>">
        <div class="content">
          <h1 class="header"><%= @author.pen_name %></h1>
          <div class="description">
            <%= @author.intro %>
          </div>
          <div class="meta">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui lightgray inverted vertical seamless border segment">
  <div class='ui container'>
    <div class="ui secondary pointing content menu">
      <a class="item active" data-tab="about">
        <i class='puzzle icon'></i>
        关于
      </a>
      <a class="item" data-tab="hot">
        <i class='sort content descending icon'></i>
        热销
      </a>
    </div>
  </div>
</div>

<div class="ui vertical borderless segment">
  <div class='ui container'>
    <div class="ui tab segment"></div>
    <div class="ui tab segment active" data-tab="about">
    </div>
    <div class="ui tab segment" data-tab="hot">
    <% unless @books.empty? %>
      <div id='explore_book_list' class="ui divided fixed image items">
        <%- @books.each do |book| %>
          <div class="item">
            <%= link_to(book_path(book), class: 'ui centered bordered image', target: '_blank') do %>
              <img src='<%= book.cover.preview.url%>' height='192px;'>
            <% end %>

            <div class="content">
              <h1 class="header"><a href='<%= book_path(book) %>' target='_blank'><%= book.title %></a></h1>
              <div class="description">
                <%- if book.intro %>
                  <p><%= book.intro %> — <%= link_to author_name(book), author_path(book) %></p>
                <%- else %>
                  <p><%= link_to author_name(book), author_path(book) %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="ui tab segment"></div>
  </div>
</div>
