<%= book.title %>
<div class="sub header">
  作者 <%= link_to author_name(book), author_path(book) %>

  <span class='ui split'></span>

  <%- if book.free? %>
    <%= link_to '免费阅读', html_path(book), target: '_blank' %>
    <%= link_to '捐赠', new_reader_book_donate_path(book) %>
  <% end %>

  <%- if book.purchase? %>
    <%- if current_user && book.check_purchaser(current_user) %>
      已购图书 <%= link_to '阅读', html_path(book), target: '_blank' %>
    <% else %>
      付费阅读 <%= link_to '购买', reader_book_purchases_path(book), method: :post %>
    <% end %>
  <% end %>

  <div class="ui hidden divider"></div>
</div>
