<div class='ui text container'>

  <% if flash[:notice] %>
    <div class="ui floating message">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>

  <div class="ui huge breadcrumb">
    <span class="section">写作</span>
    <i class="right chevron icon divider"></i>
    <a href='<%= books_path %>' class="section">我的图书</a>
    <i class="right chevron icon divider"></i>
    <span class="section action">编辑</span>
  </div>

  <div class="ui divided items">
    <div class="item">
      <div class="bottom aligned content">
        <div class="header">
          <%= @book.title %>
        </div>
        <div class="meta">
          <span class="slug"><%= @book.slug %></span>
        </div>
        <div class="extra">
          <p><%= @book.intro %></p>
          <a target='_blank' href='<%= book_orders_path(@book) %>'>订单</a>
          <a target='_blank' href='<%= @book.html_url %>'>预览</a>
          <a target='_blank' href='<%= book_builds_path(@book) %>'>构建</a>
        </div>
      </div>
      <img class='ui bordered image' src="<%= @book.cover.preview.url %>">
    </div>
  </div>

  <div class="ui horizontal form divider">
    更新图书
  </div>

  <%= form_for @book, html: {class: 'ui form'} do |f| %>
    <div class="field">
      <label>图书标题</label>
      <%= f.text_field :title, placeholder: '好的名字是基础。', autocomplete: :off %>
    </div>
    <div class="field">
      <label>图书简介</label>
      <%= f.text_area :intro, rows: '5', placeholder: '写个简介，让大家都知道为什么要读这本书。' %>
    </div>

    <div class="field">
      <label>图书封面</label>
      <%= f.file_field :cover %>
      <span class='sub text'>建议上传质量高的封面。</span>
    </div>

    <%- if @book.free? %>
    <div class='field'>
      <div class="ui checkbox">
        <%= f.check_box :donate, {}, 'true', 'false' %>
        <label>接收捐赠</label>
      </div>
    </div>
    <% end %>

    <%- if @book.purchase? %>
    <div class='field'>
      <label>付费阅读 图书价格</label>
      <div class="ui left icon large input">
        <i class="yen icon"></i>
        <%= f.text_field :price, placeholder: '给图书定个合适的价格。', autocomplete: :off %>
      </div>
      <span class='sub text'><b><i class='warning icon'></i>付费图书将不得转为免费</b>，更多关于付费阅读的说明请参考 <a target='_blank' href='#'>知笔墨用户指南</a>。</span>
    </div>
    <% end %>

    <button class="ui basic button" type="submit">保存</button>
    <%- if @book.free? %>
      <a class="ui basic button" href='<%= edit_book_purchase_path(@book) %>'>转为付费阅读</a>
    <% end %>
  <% end %>
</div>
