<div class='ui text container'>
  <div class="ui divided items">
    <%- @books.each do |book| %>
      <div class="item">
        <img class='ui bordered image' src="<%= book.cover.preview.url %>">
        <div class="bottom aligned content">
          <a class="header" href='<%= book_path(book) %>'><%= book.title %></a>
          <div class="meta">
            <span class="slug"><%= book.slug %></span>
          </div>
          <div class="extra">
            <%= book.intro %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="item">
      <%= link_to '创建图书', new_book_path, class: 'ui basic button' %>
    </div>
  </div>
</div>
