<div class='ui text container'>
  <h1 class='ui header'>
    开始新的篇章 
    <div class='sub header'>
      填写图书信息
    </div>
  </h1>

  <%= form_for @book, html: {class: 'ui form'} do |f| %>
    <div class="ui horizontal form divider">
      基本信息
    </div>
    <div class="field">
      <label>图书标题</label>
      <%= f.text_field :title, placeholder: '好图书要有个好名字。' %>
    </div>

    <div class="field">
      <label>图书标识</label>
      <%= f.text_field :slug, placeholder: '英文标识，不能修改，默认使用图书标题的全拼。' %>
      <span class='sub text'><%= "http://git.zhibimo.com/#{@book.author.username}/xxx.git" %></span>
    </div>

    <div class="ui horizontal form divider">
      图书定价
    </div>

    <div class="fields">
      <div class="field">
        <div id='free_radio' class="ui radio checkbox">
          <%= f.radio_button :profit, 'free' %>
          <label>免费图书</label>
        </div>
      </div>
      <div class="field">
        <div id='purchase_radio' class="ui radio checkbox">
          <%= f.radio_button :profit, 'purchase' %>
          <label>付费图书</label>
        </div>
      </div>

    </div>

    <div id='free_field' class="field">
      <div class="ui checkbox">
        <%= f.check_box :donate, {checked: 'checked'}, 'true', 'false' %>
        <label>接收捐赠</label>
      </div>
    </div>

    <div id='purchase_field' class="field">
      <label>图书价格</label>
      <div class="ui left icon large input">
        <i class="yen icon"></i>
        <%= f.text_field :price, placeholder: '给图书定个合适的价格。' %>
      </div>
      <span class='sub text'><b><i class='warning icon'></i>付费图书将不得转为免费</b>，更多关于付费阅读的说明请参考 <a target='_blank' href='#'>知笔墨用户指南</a>。</span>
    </div>

    <div class="ui horizontal hidden divider">
    </div>

    <div class="field">
      <div id='accept_term_checkbox' class="ui checkbox">
        <input type="checkbox">
        <label>同意 <a target='_blank' href=''>知笔墨用户条款</a></label>
      </div>
    </div>

    <button class="ui disabled primary fixed button" type="submit">创建图书</button>
    <a class="ui basic fixed button" href='<%= books_path %>'>取消</a>
  <% end %>

</div>
