<div class='ui text container'>

  <% if flash[:notice] %>
    <div class="ui floating message">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>

  <div class="ui divided items">
    <div class="item">
      <img class='ui bordered image' src="<%= @book.cover.preview.url %>">
      <div class="bottom aligned content">
        <div class="header"><%= @book.title %></div>
        <div class="meta">
          <span class="slug"><%= @book.slug %></span>
        </div>
        <div class="extra">
          <%= @book.intro %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal form divider">
    更新图书
  </div>


  <%= form_for @book, html: {class: 'ui form'} do |f| %>
    <div class="field">
      <label>图书标题</label>
      <%= f.text_field :title, placeholder: '好的名字是基础。' %>
    </div>
    <div class="field">
      <label>图书简介</label>
      <%= f.text_area :intro, rows: '5', placeholder: '写个简介，让大家都知道为什么要读这本书。' %>
    </div>
    <div class="field">
      <label>图书封面</label>
      <%= f.file_field :cover %>
      <span class='sub text'>建议上传质量高的封面。</span>
    </div>

    <button class="ui basic button" type="submit">保存</button>
  <% end %>

  <div class="ui horizontal form divider">
    仓库信息
  </div>

  <form class='ui form' action='<%= book_builds_path(@book) %>' method='POST'>
    <div class="field">
      <label>仓库地址</label>
      <div class="ui label">
        <%= @book.git_origin %>
        <a class="copy action detail" data-clipboard-text='<%= @book.git_origin %>'>
          <i class='copy icon'></i>
        </a>
      </div>
      <div class='sub text'>更具体的仓库使用说明，请参考 <a href='#'>知笔墨 指南</a>。</div>
    </div>
    <a class="ui basic button" href='<%= book_builds_path(@book) %>'>构建</a>
    <a id='view_gitlab_auth_info' class="ui basic button">认证信息</a>
  </form>

  <div class="ui form divider">
  </div>

  <a class="ui basic button" href='<%= books_path %>'>返回</a>
</div>

<div id='gitlab_auth_info_modal' class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <%= @book.title %> 仓库认证信息
  </div>
  <div class="content">
    <div class="description">
      <div class='ui header'>
        <div class="ui horizontal label">
          <i class="user icon"></i> <%= @book.author.gitlab_username %>
          <a class="copy action detail" data-clipboard-text='<%= @book.author.gitlab_username %>'>
            <i class='copy icon'></i>
          </a>
        </div>
        <div class="ui horizontal label">
          <i class="unlock alternate icon"></i><%= @book.author.gitlab_password %>
          <a class="copy action detail" data-clipboard-text='<%= @book.author.gitlab_password %>'>
            <i class='copy icon'></i>
          </a>
        </div>
      </div>

      <p>更具体的仓库使用说明，请参考 <a href='#'>知笔墨 指南</a>。</p>
    </div>
  </div>
</div>
