<p id="notice"><%= notice %></p>

<pre>
<code>
git remote add zhibimo <%= @book.git_origin %>
git push zhibimo master
</code>
</pre>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
