<% title @book.title %>

<div id='book_info' class="ui primary inverted vertical segment">
  <div class='ui container'>
    <div class="ui inverted items">
      <div class="item">
        <img class='ui bordered image' src='<%= @book.cover.preview.url %>' height='192px'>
        <div class="content">
          <h1 class="header"><%= @book.title %></h1>
          <div class="description">
            <%- if @book.intro %>
              <p><%= @book.intro %> — <%= link_to author_name(@book), author_path(@book) %></p>
            <%- else %>
              <p><%= link_to author_name(@book), author_path(@book) %></p>
            <% end %>
          </div>
          <div class="meta">
            <%- if @book.free? %>
              <span class="read">
                <%= link_to(html_path(@book), target: '_blank', class: 'ui inverted button') do %>
                  在线阅读
                <% end %>
              </span>
              <span class="donate">
                <%= link_to(new_reader_book_donate_path(@book), class: 'ui inverted basic button') do %>
                  <i class="empty heart icon"></i>
                  打赏 
                <% end %>
              </span>
            <% end %>

            <%- if @book.purchase? %>
              <%- if current_user && @book.check_purchaser(current_user) %>
                <%= link_to '阅读', html_path(@book), target: '_blank', class: 'ui inverted button' %>
              <% else %>
                <%= link_to(reader_book_purchases_path(@book), method: :post, class: 'ui inverted button') do %>
                  <%= number_to_currency(@book.price, locale: :'zh-CN') %> 购买
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui lightgray inverted vertical seamless border segment">
  <div class='ui container'>
    <div class="ui secondary pointing content menu">
      <a class="item active" data-tab="readme">
        <i class='newspaper icon'></i>
        前言
      </a>
      <a class="item" data-tab="summary">
        <i class='ordered list icon'></i>
        目录
      </a>

      <%- if @book.free? %>
      <a class="item" data-tab="download">
        <i class='download icon'></i>
        下载
      </a>
      <% end %>

    </div>
  </div>
</div>

<div class="ui vertical borderless segment">
  <div class='ui container'>
    <div class="ui tab segment"></div>
    <div id='preview_wrapper' class="ui tab edge segment active" data-tab="readme">
      <%== markdown_to_html(@book.readme) %>
    </div>
    <div class="ui tab edge segment" data-tab="summary">
      <%== summary_to_html(@book) %>
    </div>

    <%- if @book.free? %>
    <div class="ui tab edge segment" data-tab="download">
      <div class="ui relaxed divided list">
        <div class='item'>
          <i class="file pdf outline middle aligned icon"></i>
          <div class="content">
            <a class='header' href='<%= @book.pdf_url %>'>下载 PDF 版本</a>
          </div>
        </div>
        <div class='item'>
          <i class="file text outline middle aligned icon"></i>
          <div class="content">
            <a class='header' href='<%= @book.mobi_url %>'>下载 MOBI 版本</a>
          </div>
        </div>
        <div class='item'>
          <i class="file text outline middle aligned icon"></i>
          <div class="content">
            <a class='header' href='<%= @book.epub_url %>'>下载 EPUB 版本</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="ui tab segment"></div>
  </div>
</div>
