<div class='ui container'>
  <div class="ui grid">
    <!-- Book Basic Info start -->
    <div class='mobile only padding board row'>
      <div class="sixteen wide column">
        <img class='ui centered bordered image' src='<%= @book.cover.preview.url %>' height='192px'>
      </div>
    </div>

    <div class='mobile only row'>
      <div class="ui large header sixteen wide center aligned column">
        <%= render 'basic', book: @book %>
      </div>
    </div>

    <div class='tablet only computer only padding board row'>
      <div class="five wide column">
        <img class='ui right floated bordered image' src='<%= @book.cover.preview.url %>' height='192px'>
      </div>
      <div class="ui huge header computer only bottom aligned eleven wide column">
        <%= render 'basic', book: @book %>
      </div>
      <div class="ui large header tablet only bottom aligned eleven wide column">
        <%= render 'basic', book: @book %>
      </div>
    </div>
    <!-- Book Basic Info end -->

    <%- if @book.intro %>
    <!-- Book Intro start -->
    <div class='mobile only tablet only row'>
      <div class="right floated fifteen  wide column">
        <p><%= @book.intro %></p>
      </div>
    </div>
    <div class='computer only padding row'>
      <div class="left floated right aligned top aligned five wide column">
        <img src='/images/intro-text.png'>
      </div>
      <div class="right floated left aligned eleven wide column">
        <p><%= @book.intro %></p>
      </div>
    </div>
    <!-- Book Intro end -->
    <% end %>

    <!-- Summary start -->
    <div class='mobile only tablet only row'>
      <div class="right floated fifteen wide column">
        <%== @book.summary_html %>
      </div>
    </div>
    <div class='computer only padding row'>
      <div class="left floated right aligned top aligned five wide column">
        <img src='/images/summary-text.png'>
      </div>
      <div class="right floated left aligned eleven wide column">
        <%== @book.summary_html %>
      </div>
    </div>
    <!-- Summary end -->
  </div>
</div>
