<div class="ui text container">
  <div class="ui huge breadcrumb">
    <a class="section" href='<%= explore_book_path(@book.slug) %>'><%= @book.title %></a>
    <i class="right chevron icon divider"></i>
    <div class="active section">捐赠</div>
  </div>

  <div class="ui attached message">
    <div class="header">
      感谢您对图书作者 <%= @book.author_pen_name %> 的支持。
    </div>
  </div>
  <%= form_tag explore_book_donates_path(@book), method: :post, class: 'ui form attached fluid segment' do %>
    <div class="field">
      <div class="ui left icon large input">
        <i class="yen icon"></i>
        <input type='text' placeholder='建议金额：一元、五元或十元人民币。' name='fee' autocomplete='off'></input>
      </div>
      <div class='sub text'>
        此图书作者 <%= @book.author_pen_name %> 将会收到全部的捐赠金额。
      </div>
    </div>

    <button class="ui primary fixed button" type="submit">捐赠</button>
  <% end %>
</div>
