<% title "构建 - #{@book.title}"  %>
<% set_active_book_menu_item(:build) %>

<div class='ui container'>
  <div class='ui edge attached segment'>
    <div class="ui horizontal elegant divider">仓库信息</div>

    <div class="ui list">
      <a class="item">
        <div class="ui horizontal label">仓库地址</div>
        <%= @book.git_origin %>
      </a>
      <a class="item">
        <div class="ui horizontal label">认证用户</div>
        <%= @book.author.gitlab_username %>
      </a>
      <a class="item">
        <div class="ui horizontal label">认证密码</div>
        <%= @book.author.gitlab_password %>
      </a>
    </div>

    <div class="ui horizontal elegant divider">构建记录</div>

    <%- if @builds.empty? %>
      <h3 class="ui center aligned header">
        <i>还未发现任何构建记录 ......</i>
      </h3>
    <%- else %>
      <div class="ui very relaxed middle aligned list">
        <%= render @builds %>
      </div>
    <% end %>

    <div class="ui horizontal elegant divider">迁移说明</div>

    <p>
      更改远程仓库地址后，会提示要求身份认证。
    </p>
    <div class="ui message">
      <code>cd $BOOKS_DIR/<%= @book.slug %></code><br />
      <code>git remote set_url origin <%= @book.git_origin %></code><br />
    </div>
  </div>

  <div class="ui edge bottom attached info message">
    <i class="icon help"></i>
    更具体的仓库使用说明，请参考 <a target='_blank' href='/read/hpyhacking/zhibimo-guide/build.html'>知笔墨指南</a>。
  </div>
</div>
