<div class="ui text container">
  <%- if @book %>
  <div class="ui huge breadcrumb">
    <a class="section" href='<%= writer_edit_book_path(@book) %>'><%= @book.title %></a>
    <i class="right chevron icon divider"></i>
    <div class="action section">支付订单</div>
  </div>
  <%- else %>
  <div class="ui huge breadcrumb">
    <a class="section" href='<%= writer_edit_profile_path %>'>作者信息</a>
    <i class="right chevron icon divider"></i>
    <div class="action section">查看收款</div>
  </div>
  <% end %>

  <div class="ui large feed">
    <%- @orders.each do |order| %>
      <div class="event">
        <div class="label">
          <img src="<%= avatar(order.purchaser) %>">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              <%= order.purchaser.username %>
            </a> 

            <%- unless @book %>
            <span><%= order.book.title %></span>
            <% end %>

            <code>#<%= order.id %></code>

            <div class="date">
              <%= time_ago_in_words(order.created_at) %>
            </div>
          </div>

          <div class='meta'>
            <%- if order.idle? %>
              <div class="ui label">
                <i class="wait icon"></i>
                <%= order.aasm.human_state %>
              </div>
            <% end %>

            <%- if order.waiting? %>
              <div class="ui red label">
                <i class="warning sign icon"></i>
                <%= order.aasm.human_state %>
              </div>
            <% end %>

            <%- if order.complete? %>
              <div class="ui blue label">
                <i class="settings icon"></i>
                <%= order.aasm.human_state %>
              </div>
            <% end %>

            <code><%= order.fee / 100.to_d %></code>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


