<div class="ui text container">
  <div class="ui huge breadcrumb">
    <a class="section" href='<%= book_path(@book) %>'><%= @book.title %></a>
    <i class="right chevron icon divider"></i>
    <div class="active section">下载</div>
  </div>

  <div class="ui list">
    <div class='item'>下载 <a href='<%= @book.pdf_url %>'>PDF 版本</a></div>
    <div class='item'>下载 <a href='<%= @book.mobi_url %>'>MOBI 版本</a></div>
    <div class='item'>下载 <a href='<%= @book.epub_url %>'>EPUB 版本</a></div>
  </div>
</div>
