<% title @book.title %>
<% set_active_book_menu_item(:edit) %>

<div class='ui container'>
  <div class='ui edge attached segment'>
    <div class="ui grid">
      <div class="sixteen wide column">
        <%= form_for @book, url: writer_book_path(@book), html: {class: 'ui form'} do |f| %>

          <div class="field">
            <label>图书标题</label>
            <%= f.text_field :title, placeholder: '好的名字是基础。', autocomplete: :off %>
          </div>

          <div class="field">
            <label>图书简介</label>
            <%= f.text_area :intro, rows: '5', placeholder: '写个简介，让大家都知道为什么要读这本书。' %>
          </div>
          <div class="field">
            <label>绑定域名</label>
            <div class="ui labeled input">
              <%= f.fields_for :domain_binding do |field|%>
                <div class="ui label">http:// </div>
                <%= field.text_field :domain %>
              <% end %>
            </div>
            <span class='sub text'>请将要绑定的域名 <code>CNAME</code> 到 <code>book.zhibimo.com</code></span>
          </div>
          <%- if @book.free? %>
            <div class='field'>
              <div class="ui checkbox">
                <%= f.check_box :donate, {}, 'true', 'false' %>
                <label>接受打赏</label>
              </div>
            </div>
          <% end %>

          <%- if @book.purchase? %>
            <div class='field'>
              <label>付费阅读 图书价格</label>
              <div class="ui left icon large input">
                <i class="yen icon"></i>
                <%= f.text_field :price, placeholder: '给图书定个合适的价格。', autocomplete: :off %>
              </div>
              <span class='sub text'><b><i class='warning icon'></i>付费图书将不得转为免费</b>，更多关于付费阅读的说明请参考 <a target='_blank' href='#'>知笔墨用户指南</a>。</span>
            </div>
          <% end %>

          <div class="ui large buttons">
            <button class="ui primary button" type='submit'>更新</button>
            <div class="or"></div>
            <%= link_to '取消', writer_books_path, class: 'ui button' %>
          </div>
        <% end %>
        <div class="ui section divider"></div>
        <div class="ui red large buttons">
          <%= link_to "删除", writer_book_path, class: 'ui  button', method: :delete , data: { confirm: "确认删除?" }%>
        </div>
      </div>
    </div>
  </div>
</div>
