<% title '新建图书'  %>

<% content_for :navigation do %>
  <div class='item'>
    <div class="ui huge breadcrumb">
      <%= link_to '我的图书', writer_books_path, class: 'active section' %>
    </div>
  </div>
<% end %>

<div class='ui container'>
  <div class="ui edge attached message">
    <div class="header">
      开始新的篇章
    </div>
    请填写基本的图书信息并选择收费策略。
  </div>

  <div class='ui edge attached segment'>

    <%= form_for @book, url: writer_books_path, html: {class: 'ui form'} do |f| %>
      <div class="field">
        <label>书名</label>
        <%= f.text_field :title, placeholder: '一本好书从书名开始。' %>
      </div>

      <div class="field">
        <label>仓库地址</label>
        <%= f.text_field :other_git, placeholder: 'git@github.com:xxxx/xxx.git' %>
        <span class='sub text'><b>外部仓库地址</b>，针对您已有的电子书进行构建，仓库地址必须为 <b>公开</b> 地址。</span>
      </div>

      <div class="field">
        <label>标识</label>
        <%= f.text_field :slug, placeholder: '可选：英文标识，不能修改，默认使用书名全拼。' %>
        <span class='sub text'><b>唯一性标识</b>，不可与您的其他图书重复，允许的符号为<b>小写字母、数字、横线与下划线</b>。</span>
      </div>

      <div class="fields">
        <div class="field">
          <div id='free_radio' class="ui radio checkbox">
            <%= f.radio_button :profit, 'free' %>
            <label>免费图书</label>
          </div>
        </div>
        <div class="field">
          <div id='purchase_radio' class="ui radio checkbox">
            <%= f.radio_button :profit, 'purchase' %>
            <label>付费图书</label>
          </div>
        </div>

      </div>

      <div id='free_field' class="field">
        <div class="ui checkbox">
          <%= f.check_box :donate, {checked: 'checked'}, 'true', 'false' %>
          <label>接受打赏</label>
        </div>
      </div>

      <div id='purchase_field' class="field">
        <label>图书价格</label>
        <div class="ui left icon input">
          <i class="yen icon"></i>
          <%= f.text_field :price, placeholder: '给图书定个合适的价格（整数）。' %>
        </div>
        <span class='sub text'><b><i class='warning icon'></i>付费图书将不得转为免费</b>，更多关于付费阅读的说明请参考 <a target='_blank' href='#'>知笔墨用户指南</a>。</span>
      </div>

      <div class="field">
        <div id='accept_term_checkbox' class="ui checkbox">
          <input type="checkbox">
          <label>同意</label>
        </div>
        <a target='_blank' href='/read/hpyhacking/zhibimo-guide/user-term.html'>知笔墨用户条款</a>
      </div>

      <div class="ui large buttons">
        <button class="ui disabled primary button" type='submit'>保存</button>
        <div class="or"></div>
        <%= link_to '取消', writer_books_path, class: 'ui button' %>
      </div>
    <% end %>
  </div>
</div>
