<div id='explore_book' class="ui grid">
  <div class='board row'>
    <div class="sixteen wide mobile only column">
      <img class='ui centered bordered image' src='<%= @book.cover.preview.url %>'>
    </div>
    <div class="five wide computer tablet only computer only column">
      <img class='ui right floated bordered image' src='<%= @book.cover.preview.url %>'>
    </div>
    <div class="eleven wide computer computer only bottom aligned board content column">
      <h1 class='ui header'>
        <%= @book.title %>
        <div class="sub header">
          作者 
          <a href='#'><%= @book.author_name %></a>
        </div>
      </h1>
    </div>
    <div class="eleven wide tablet tablet only bottom aligned board content column">
      <h2 class='ui header'>
        <%= @book.title %>
        <div class="sub header">
          作者 
          <a href='#'><%= @book.author_name %></a>
        </div>
      </h2>
    </div>
  </div>
  <div class='row'>
  </div>
  <div class='row'>
  </div>
  <div class='row'>
  </div>
</div>













<% content_for :explore_content do %>
  <div class='container explore-show'>
    <div class='board'>
      <div class='board-content pure-g'>
        <section class='pure-u-1 pure-u-md-1-5'>
          <img id='cover' src='<%= @book.cover.preview.url %>'>
        </section>
        <section id='book-info' class='pure-u-1 pure-u-md-4-5 pure-hidden-sm'>
        </section>
      </div>
    </div>

    <section id='sm-book-info' class='pure-visible-sm'>
      <h2 id='title'><%= @book.title %></h2>
      <a id='author'><%= @book.author_name %></a>
    </section>

    <div class='pure-g pure-gap-g'>
      <div class='pure-u-1 pure-u-md-1-4'>
        <a class='pure-button pure-block-button button-ghost' href='<%= @book.html_url %>' target='_blank'>
          <i class="octicon octicon-book"></i><span>在线阅读</span>
        </a>
      </div>

      <div class='pure-u-1 pure-u-md-1-4'>
        <a class='pure-button pure-block-button button-ghost' href='<%= @book.pdf_url %>' target='_blank'>
          <i class="octicon octicon-book"></i><span>下载 PDF 版本</span>
        </a>
      </div>

      <div class='pure-u-1 pure-u-md-1-4'>
        <a class='pure-button pure-block-button button-ghost' href='<%= @book.epub_url %>' target='_blank'>
          <i class="octicon octicon-book"></i><span>下载 EPUB 版本</span>
        </a>
      </div>

      <div class='pure-u-1 pure-u-md-1-4'>
        <a class='pure-button pure-block-button button-ghost' href='<%= @book.mobi_url %>' target='_blank'>
          <i class="octicon octicon-book"></i><span>下载 MOBI 版本</span>
        </a>
      </div>
    </div>

    <div class='pure-g book-intro'>
      <div class='pure-u-1'>
        <%== @book.readme_html %>
      </div>
    </div>
  </div>
<% end %>
