<% content_for :explore_content do %>
  <div class='container explore-show'>
    <div class='board'>
      <div class='board-content pure-g'>
        <section class='pure-u-1 pure-u-md-1-5'>
          <img id='cover' src='<%= @book.cover.preview.url %>'>
        </section>
        <section id='book-info' class='pure-u-1 pure-u-md-4-5 pure-hidden-sm'>
          <h2 id='title'><%= @book.title %></h2>
          <a id='author'><%= @book.author_name %></a>
        </section>
      </div>
    </div>

    <section id='sm-book-info' class='pure-visible-sm'>
      <h2 id='title'><%= @book.title %></h2>
      <a id='author'><%= @book.author_name %></a>
    </section>

    <div class='pure-g pure-gap-g'>
      <div class='pure-u-1 pure-u-md-1-4'>
        <a class='pure-button pure-block-button button-ghost' href='<%= @book.html_url %>' target='_blank'>
          <i class="octicon octicon-book"></i><span>在线阅读</span>
        </a>
      </div>

      <div class='pure-u-1 pure-u-md-1-4'>
        <a class='pure-button pure-block-button button-ghost' href='<%= @book.pdf_url %>' target='_blank'>
          <i class="octicon octicon-book"></i><span>下载 PDF 版本</span>
        </a>
      </div>

      <div class='pure-u-1 pure-u-md-1-4'>
        <a class='pure-button pure-block-button button-ghost' href='<%= @book.epub_url %>' target='_blank'>
          <i class="octicon octicon-book"></i><span>下载 EPUB 版本</span>
        </a>
      </div>

      <div class='pure-u-1 pure-u-md-1-4'>
        <a class='pure-button pure-block-button button-ghost' href='<%= @book.mobi_url %>' target='_blank'>
          <i class="octicon octicon-book"></i><span>下载 MOBI 版本</span>
        </a>
      </div>
    </div>

    <div class='pure-g book-intro'>
      <div class='pure-u-1'>
        <%== @book.readme_html %>
      </div>
    </div>
  </div>
<% end %>
