<% content_for :explore_content do %>
  <div class='container explore-show'>
    <div class='board board-show'>
      <div class='board-content pure-g'>
        <div class='pure-u-5-24'>
          <div class='cover'>
            <img src='<%= @book.cover.preview.url %>'>
          </div>
        </div>
        <div class='pure-u-15-24 book-info'>
          <h2><%= @book.title %></h2>
          <p><a><%= @book.author_name %></a></p>
          <div class='buttons'>
            <a class='pure-button button-primary' href='<%= @book.html_url %>' target='_blank'>
              <i class="octicon octicon-book"></i><span>阅读</span>
            </a>
            <div class='dropdown'>
              <a class='dropdown-btn pure-button button-ghost' href='#'><i class="octicon octicon-cloud-download"></i><span>下载</span></a>
              <ul class='dropdown-menu'>
                <li><a href='<%= @book.pdf_url %>' target='_blank'><i class="octicon octicon-file-pdf"></i><span>PDF 格式</span></a></li>
                <li><a href='<%= @book.epub_url %>' target='_blank'><i class="octicon octicon-file-text"></i><span>EPUB 格式</span></a></li>
                <li><a href='<%= @book.mobi_url %>' target='_blank'><i class="octicon octicon-file-text"></i><span>MOBI 格式</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='pure-g book-intro'>
      <div class='pure-u-18-24 book-intro-readme'>
        <%== @book.readme_html %>
      </div>

      <div class='pure-u-6-24'>
      </div>
    </div>
  </div>
<% end %>
