<!DOCTYPE html>
<html lang="en">
  <head>
    <title>知笔墨</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%= render 'shared/baidu' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui menu">
      <a id='logo' class="item" href='/'></a>
      <div class='right menu'>
        <a class="item" href='<%= explores_path %>'>书架</a>
        <a class="item" href='<%= books_path %>'>写作</a>
        <%- if current_user %>
          <a class="item" href='<%= signout_path %>'>退出</a>
        <%- else %>
          <a class="item" href='<%= signin_path %>'>登录</a>
        <%- end %>
      </div>
    </div>

    <div class='ui main container'>
      <%= yield %>
    </div>
    <div id='footer_divider' class="ui horizontal divider">
      © 2015 zhibimo.com All rights reserved.
    </div>


    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
  </body>
</html>
