<!DOCTYPE html>
<html>
<head>
  <title>ZhibimoCom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <a href='#'><%= current_user.username %></a>
  <a href='/signout'>Signout</a>
<% else %>
  <a href='/auth/github'>Signin with Github</a>
<% end %>

<%= yield %>

</body>
</html>
