<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t(".title") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%= render 'shared/baidu' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
  </body>
</html>
