<!DOCTYPE html>
<html lang="en" ng-app="ngApp" ng-controller="DeskController as vm">
  <head>
    <title>知笔墨</title>
    <base href="/books/<%= @book.id %>/desk/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%= stylesheet_link_tag 'desk', media: 'all' %>
    <%= render 'shared/baidu' %>
    <%= csrf_meta_tags %>
  </head>
  <body ui-view>
    <%= include_gon %>
    <%= javascript_include_tag "desk" %>
  </body>
</html>
