<!DOCTYPE html>
<html lang="en">
  <head>
    <title>知笔墨</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%= render 'shared/baidu' %>
    <%= stylesheet_link_tag 'editor', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui mobile only middle aligned center aligned grid">
      <div class='column'>
        <h1>ONLY for TABLET and COMPUTER</h1>
      </div>
    </div>
    <div id='main_wrapper' class="ui tablet only computer only divided grid" style='height: 100%; margin: 0px;'>
      <div id='contents' class="three wide column">
        <h1>SIDE</h1>
      </div>
      <div id='editor_wrapper' class="six wide column">
        <div class='ui fixed sticky'>
          <div class="ui icon buttons">
            <button id='btnFormatHeader' class="ui button"><i class="header right icon"></i></button>
            <button id='btnFormatStrong' class="ui button"><i class="bold icon"></i></button>
            <button id='btnFormatItalic' class="ui button"><i class="italic icon"></i></button>
            <button id='btnFormatStrikethrough' class="ui button"><i class="strikethrough icon"></i></button>
          </div>
          <div class="ui icon buttons">
            <button id='btnFormatList' class="ui button"><i class="list icon"></i></button>
            <button id='btnFormatOrderedList' class="ui button"><i class="ordered list icon"></i></button>
            <button id='btnFormatLink' class="ui button"><i class="linkify icon"></i></button>
            <button id='btnFormatQuote' class="ui button"><i class="quote left icon"></i></button>
            <button id='btnFormatCode' class="ui button"><i class="code icon"></i></button>
          </div>
        </div>
        <div id='editor'></div>
      </div>
      <div id='preview_wrapper' class="seven wide column">
        <div id='preview'></div>
      </div>
    </div>
    <%= include_gon %>
    <%= javascript_include_tag "editor" %>
  </body>
</html>
