<!DOCTYPE html>
<html lang="en" ng-app="ngApp">
  <head>
    <title><%= t(".title") %></title>
    <base href="/">
    <%= include_gon %>
    <%= stylesheet_link_tag    'editor', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
