<!DOCTYPE html>
<html lang="en">
  <head>
    <title>知笔墨</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%= render 'shared/baidu' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui mobile only middle aligned center aligned grid">
      <div class='column'>
        <h1>ONLY for TABLET and COMPUTER</h1>
      </div>
    </div>
    <div id='main_wrapper' class="ui tablet only computer only divided grid">
      <div id='contents' class="three wide column">
        <h1>SIDE</h1>
      </div>
      <div class="thirteen wide column">
        <div class="ui two column divided grid">
          <div id='editor_wrapper' class="column">
            <div class="ui icon menu">
              <a class="item">
                <i class="header icon"></i>
              </a>
              <a class="item">
                <i class="bold icon"></i>
              </a>
              <a class="item">
                <i class="italic icon"></i>
              </a>
              <a class="item">
                <i class="list icon"></i>
              </a>
              <a class="item">
                <i class="ordered list icon"></i>
              </a>
              <a class="item">
                <i class="linkify icon"></i>
              </a>
            </div>
            <h1>EDITOR</h1>
          </div>
          <div id='preview_wrapper' class="column">
            <h1>PREVIEW</h1>
          </div>
        </div>
      </div>
    </div>
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
