<!DOCTYPE html>
<html lang="en">
  <head>
    <title>知笔墨</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%= render 'shared/baidu' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='ui centered one column grid'>
      <div id='slogan' class='ui computer only center aligned column'>
        <p class='ui tiny header'>让文字自由流动</p>
      </div>

      <div id='slogan' class='ui tablet only mobile only center aligned column'>
        <p class='ui tiny header'>让文字自由流动</p>
      </div>

      <div class='one column row'>
        <div id='book-background' class='ui computer only center aligned column'>
          <div id='book-content' class="ui two column grid">
            <div class="column">
              <%= yield(:left_page) %>
            </div>
            <div class="column">
              <%= yield(:right_page) %>
            </div>
          </div>
        </div>
        <div class='ui mobile only tablet only center aligned column'>
            <%= yield(:left_page) %>

            <div class="ui hidden divider"></div>

            <%= yield(:right_page) %>
        </div>
      </div>

      <div class='one column row'>
        <div id='footer' class="ui column">
          <div id='footer_divider' class="ui horizontal divider">
             © 2015 zhibimo.com All rights reserved.
          </div>
        </div>
      </div>
    </div>

    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
  </body>
</html>

